.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navTitle {
  font-size: 34px;
  text-shadow: 1.5px 5px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1200px) {
  .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 5px;
  }
}
